<div class="main-container ">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/CON.svg" class="d-block" alt="Imagen 1">
        <div class="centered-text animate__animated animate__fadeIn">Contáctanos</div>
      </div>
    </div>
  </div>
</div>




<div class="container mt-5">
  <div class="row practice-areas">
      <div class="col-lg-4 col-md-6 col-sm-12 practice-area anim-down anim-pause-2 my-2">
        <div class="wave-card">
            <img src="icons/email.gif" alt="Marketing">
            <h3>Correo Electrónico</h3>
            <p>Contáctanos: <a href="mailto:devix&#64;gmail.com">devix&#64;gmail.com</a></p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 practice-area anim-down anim-pause-3 my-2">
        <div class="wave-card">
            <img src="icons/location.gif" alt="Marketing">
            <h3>Ubicación</h3>
            <p>Costa Rica , San Carlos </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 practice-area anim-down anim-pause-3 my-2">
        <div class="wave-card">
            <img src="icons/telephone.gif" alt="Marketing">
            <h3>Teléfono</h3>
            <p>Contáctanos: <a href="https://wa.me/50683134829">+506 8313-4829</a></p>
        </div>
      </div>
  </div>

  <div class="my-5">
    <div class="contact-wrapper">
      <div class="floating-form">
          <div class="form-container">
              <form class="contact-form">
                  <h2 class="form-title">Contáctanos</h2>
                  <div class="input-group">
                      <input type="text" id="name" required>
                      <label for="name">Nombre completo</label>
                  </div>
                  <div class="input-group">
                      <input type="email" id="email" required>
                      <label for="email">Correo electrónico</label>
                  </div>
                  <div class="input-group">
                      <textarea id="message" required></textarea>
                      <label for="message">Tu mensaje</label>
                  </div>
                  <button type="submit" class="submit-btn">
                      <i class="fas fa-paper-plane"></i> Enviar
                  </button>
              </form>
          </div>
      </div>
  </div>
</div>

 
